USE [master]
GO
/****** Object:  Database [visitorDB]    Script Date: 5/28/2015 8:16:27 AM ******/
CREATE DATABASE [visitorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'visitorDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\visitorDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'visitorDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\visitorDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [visitorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [visitorDB]
GO
/****** Object:  Table [dbo].[visitor]    Script Date: 5/28/2015 8:16:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](20) NULL,
	[contact] [nchar](11) NULL,
	[email] [nchar](30) NULL,
 CONSTRAINT [PK_visitor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[visitor_details]    Script Date: 5/28/2015 8:16:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[visitor_details](
	[visitor_id] [int] NOT NULL,
	[zone_id] [int] NOT NULL,
 CONSTRAINT [PK_visitor_details] PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC,
	[zone_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[zone]    Script Date: 5/28/2015 8:16:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zone](
	[id] [int] IDENTITY(10,1) NOT NULL,
	[name] [nchar](30) NULL,
 CONSTRAINT [PK_zone] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[visitor]  WITH CHECK ADD  CONSTRAINT [FK_visitor_visitor-details] FOREIGN KEY([id])
REFERENCES [dbo].[visitor] ([id])
GO
ALTER TABLE [dbo].[visitor] CHECK CONSTRAINT [FK_visitor_visitor-details]
GO
ALTER TABLE [dbo].[visitor_details]  WITH CHECK ADD  CONSTRAINT [FK_visitor_details_visitor] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[visitor] ([id])
GO
ALTER TABLE [dbo].[visitor_details] CHECK CONSTRAINT [FK_visitor_details_visitor]
GO
ALTER TABLE [dbo].[visitor_details]  WITH CHECK ADD  CONSTRAINT [FK_visitor_details_zone] FOREIGN KEY([zone_id])
REFERENCES [dbo].[zone] ([id])
GO
ALTER TABLE [dbo].[visitor_details] CHECK CONSTRAINT [FK_visitor_details_zone]
GO
ALTER TABLE [dbo].[zone]  WITH CHECK ADD  CONSTRAINT [FK_zone_visitor] FOREIGN KEY([id])
REFERENCES [dbo].[zone] ([id])
GO
ALTER TABLE [dbo].[zone] CHECK CONSTRAINT [FK_zone_visitor]
GO
USE [master]
GO
